html {
	background-color: rgb(217, 255, 209);
	font-family: monospace;
	font-size: 200%;
}

.list {
	list-style-type: none;
	text-align: center;
}

.item {
	padding-top: 2%;
}

.description {
	font-size: 70%;
	padding-bottom: 5%;
}
